<%= @player_1.name %> vs. <%= @player_2.name %>
<div>
<%= @player_2.name%> HP: <%=@player_2.hit_points %>
</div>



<form action = '/attack' method = "get">
  <input type = "submit" value = "Attack"> </input>
</form>
